<%- include('../partials/header.ejs') %>
<div class="container">
    <h2>All Posts</h2>

    <% post.forEach(post => { %>
        <div class="post">
            <div class="post-header">
                <strong><%= post.author.name %></strong>
                <% if(user && user._id === post.author._id) { %>
                    <form action="/posts/<%= post.id %>/delete" method="POST" class="delete-form">
                        <button type="submit">Delete</button>
                    </form>
               <% } %>
            </div>
            <p><%= post.content %></p>

            <div class="post-actions">
                <button class="like-btn">Like</button>
                <button class="comment-btn">Comment</button>
            </div>
            <% }) %>
        </div>
        
<%- include('../partials/footer.ejs') %>